body {
  margin: 5px;
}

.body.full-screen {
  max-width: initial;
  width: 100%;
  max-height: 100vh;
}

.video-container {
  max-width: 85%;
}

video {
  width: 100%;
}

.video-controls-container{
  z-index: 100;
}

.first-line-controls {
  display: flex;
}

.volume-container {
  position: relative;
}

.volume-slider {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 0;
  left: 0;
  width: 30px;
  position: absolute;
  bottom: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 150ms ease-in-out;
  z-index: 1000;
}

.volume-container:hover .volume-slider{
  height: 100px;
  transform: scaleY(1);
}

.skip-input {
  width: 35px;
}

.speed-text {
  width: 100px;
  padding-right: 20px;
}

.speed-inc-input {
  width: 50px;
}